@font-face {
   font-family: 'Pacifico';
   font-style: normal;
   font-weight: 400;
   src: local ('Pacifico'), url(../fonts/Pacifico/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2)  format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   src: local('Raleway Regular'), local('Raleway-Regular'), url(../fonts/Raleway/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2); format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight:100;
   src: local('Raleway Light'), local('Raleway-Light'), url(../fonts/Raleway/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2); format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight:600;
   src: local('Raleway SemiBold'), local('Raleway-Semibold'), url(../fonts/Raleway/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2); format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body{
   margin: auto;
   width: 1600px;
   color: #848484;
   font-family: Helvetica, sans-serif;
   font-size: 16px;
   font-weight: normal;
}
header{
   background-image: url(../img/large-banner-image.png);
   background-repeat: no-repeat;
   margin: 0px;
   width: 1600px;
   height: 700px;
   position:relative;
}
header h1{
   position:absolute;
   top:100px;
   left:650px;
}
header p{
   position: absolute;
   top:250px;
   left:475px;
   font-family: 'Raleway';
   font-size: 36px;
   font-weight: lighter;
   color: #222222;
}
span {
   font-family: 'Pacifico';
   font-size: 60px;
   color: #222222;
}
header img:nth-of-type(2){
   position:absolute;
   left:200px;
}
section .box-1{
   background-color: #f4f4f4;
   height:450px;
   padding-top: 50px;
   padding-bottom: 50px;
   margin:0px;
   position:relative;
}
.phone{
   position: relative;
   left:570px;
   top: -300px;
}
#one{
   position: relative;
}
#two{
   position: absolute;
   top:300px;
   left:90px;
}
#three{
   position: absolute;
   top:200px;
   left:50px;
}
section .box-1 h2, h3{
   position: relative;
   width: 300px;
   top:-710px;
   line-height: 30px;
}
section .box-1 h2:nth-of-type(1){
   position: relative;
   width: 300px;
   top:-780px;
   left:280px;
}
section .box-1 h3:nth-of-type(1){
   position: relative;
   width: 300px;
   top:-760px;
   left:280px;
}
section .box-1 h2:nth-of-type(2){
   position: relative;
   width: 300px;
   top:-900px;
   left:1020px;
}
section .box-1 h3:nth-of-type(2){
   position: relative;
   width: 300px;
   top:-880px;
   left:1020px;
}
section .box-1 h2:nth-of-type(3){
   position: relative;
   width: 300px;
   top:-820px;
   left:280px;
}
section .box-1 h3:nth-of-type(3){
   position: relative;
   width: 300px;
   top:-800px;
   left:280px;
}
section .box-1 h2:nth-of-type(4){
   position: relative;
   width: 300px;
   top:-940px;
   left:1020px;
}
section .box-1 h3:nth-of-type(4){
   position: relative;
   width: 300px;
   top:-920px;
   left:1020px;
}
section .box-2{
   position:relative;
   padding-top: 50px;
   background-color: #e3e3e3;
   height: 425px;
   width:1600;
}
#container{
   width: 1600px;
   height:450px;
   background-color: #e3e3e3;
   padding-top: 50px;
   position: relative;
}
#container h2{
   position: absolute;
   left: 210px;
   padding-bottom: 25px;
}
#container h3{
   position: absolute;
   left: 210px;
   top: 100px;
   width:500px;
   line-height: 25px;
}
#container p{
   position: absolute;
   left: 210px;
   top: 225px;
}
#container p img:nth-child(2){
   padding-left: 20px;
   padding-right: 20px;
}
#container aside{
   position: absolute;
   top:75px;
   right: 215px;
}
#first{
   position: relative;
}
#container #second{
   position: absolute;
   bottom:20px;
}
#container #third{
   position: absolute;
   left: 100px;
   bottom: 0px;
}
section .box-2 aside{
   position: absolute;
   right:100px;
}
section .box-3{
   margin-top: 100px;
   text-align: center;
   margin-bottom: 50px;
}
section .box-3 h1{
   font-family: 'Raleway';
   font-size: 24px;
   font-weight:normal;
   color: #000000;
}
section .box-3 p{
   padding-top: 25px;
   font-size: 14px;
   padding-bottom: 50px;
}
section .box-3 span{
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
}
section .box-3 h2{
   padding-top: 50px;
   padding-bottom: 25px;
}
section .box-3 h4{
   margin: auto;
   padding-bottom: 25px;
   width: 500px;
}
h2{
   font-family: 'Raleway';
   font-size: 22px;
   font-weight: bolder;
   color: #222222;
}
footer{
   height: 100px;
   background-color: #e3e3e3;
   text-align: center;
   padding-top: 50px;
}
footer nav ul li{
   display: inline-block;
   padding-right: 25px;
}
