body {
  line-height: 1.5;
  font-family: centaur, sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;

}


div.container {
  width: 80%;
  margin: auto;
  padding: 12px;
}


#header{
  width:1600px;
  height:669px;
  background: url('../img/large-banner-image.png') no-repeat fixed 0 0 / cover;

 }

#appvid{
  background-color: #e3e3e3;
  min-height: 426px;

}

#backface{
  min-height: 325px;
  background: url('../img/people.png') no-repeat;
}

blockquote{
  text-align: center;
  min-height: 175px;

}

blockquote .highlight{
  font-weight: bold;
}

#getin{
  min-height: 250px;
}

footer {
  background-color:#e3e3e3;
  min-height: 125px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

footer a {
  color: red;
  text-decoration: none;
}
